name: CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: sqlite3
          coverage: none

      - name: Make CLI executable
        run: chmod +x ./lighthouse || true

      - name: Run tests
        run: ./lighthouse test run
